<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="/">8tako8tako8 STORE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
      </ul>
      <form class="d-flex">
        <button class="btn" type="submit">
          <%= link_to carts_path, class: "btn btn-outline-dark btn-link" do %>
            <%= content_tag :span, "カート数量：#{current_cart.total_quantity}", class: "badge bg-black text-white ms-1 rounded-pill" %>
          <% end %>
        </button>
      </form>
    </div>
  </div>
</nav>
